// This is for honor theme

@charset "UTF-8";

@import "styles/global";
@import "styles/mixins";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
//configure
$primary-color: #263238 !default;
$secondary-color: #37474f !default; // bluish black
$body-color: #ffffff !default;

//text colors
$title-color: #F0F0F0 !default;
$title-description-color: $title-color !default;

$button-height: 36px !default;
$button-line-height: 36px !default;
$button-color-raised: #fff !default;
$button-color: $secondary-color !default;
$input-border-color: #9e9e9e !default;
$input-focus-color: $secondary-color !default;

$primary-text-color: #F0F0F0 !default;

// choose whether you want to hide the annoying navbar
$navbar-display: none;


@import "styles/elements";
@import "styles/components";
@import "overrides";
