h4 {
	color: #0A00A0;
}

a {
  	@include transition(.2s ease-out);
}

.main-outer, .footer-outer {
	background: $body-color;
}

#navbar {
	display: $navbar-display;
}
.header-inner .Header .titlewrapper {
	padding:0px;
	margin-bottom:-20px;
}

.header-inner .Header .descriptionwrapper {
	margin:0px;
	padding:0px;
}

.header-outer {
	background: $primary-color !important;
	position: relative;
	z-index: 2;
	@extend .z-depth-2;
}

.Header .description {
	color:$title-description-color !important;
	@extend .roboto;
}

.Header h1, h1 a {
	color:$title-color !important;
	&:hover {
		color:$title-color !important;
	}
}

.blog-posts {
	@extend .roboto;
}

.date-header {
	@include BoxShadow(1);
 	padding: 5px;
	width: auto !important;
	background: $secondary-color !important;
	& span {
		color: $primary-text-color !important;
	}
	
}

.post {
	@include BoxShadow(2);
	padding: 5px 20px 10px 20px;
}

.PageList {
	@extend .simple-primary-widget;
	padding: 5px !important;
	@extend .roboto;
	&:hover {
		background: $secondary-color !important;
	}
}
.PageList a,h2 {
	text-decoration: none;
	width:100%;
	display:inline-block;
}
.PageList h2{
	text-align:center;
}
.PageList ul {
	list-style-type: none;
	padding:0px;
	background: none !important;
}
.PageList li{
	padding:5px;
	margin:1px;
  	@include transition(.2s ease-out);
	cursor: pointer;
	&:hover {
		background: lighten($secondary-color, 5%);
  	}
	& a, a:hover {
		background: none !important;
	}
}
.PageList .selected {
	background: lighten($secondary-color, 8%);
}

.PopularPosts ul {
	@extend .simple-widget;
}

.PopularPosts ul li{
	padding: 5px 10px 5px 0px;
  	border-bottom: 1px solid #dddddd;
}
.Stats {
	@extend .simple-primary-widget;
	padding: 10px !important;
	text-align: center;
}

input.gsc-search-button {
	@extend .btn;
}

.BlogArchive {
	@extend .simple-widget;
}

.BlogArchive .hierarchy .expanded ul {
	&>li {
		background: #eee !important;
		//opacity: 1;
	}
	&>li:nth-child(odd) {
		background: transparent !important;
	}
	& a {
		padding: 5px;
		text-decoration: none;
	}
}

.Profile {
	@extend .simple-widget;
}
.Text {
	@extend .simple-primary-widget;
}
.Label {
	@extend .simple-primary-widget;
}
.CustomSearch {
	@extend .simple-widget;
}
.Followers {
	@extend .simple-widget;
}

//search box
.gsc-resultsbox-visible {
	@extend .simple-widget;
}

.gsc-results {
	border: 0 !important;
	background-color: transparent !important; 
	@extend .roboto;
}
.gsc-tabHeader{
	@extend .btn;
}

.gsc-cursor-current-page {
	color: $primary-text-color !important;
}

.post-title {
	@extend .roboto-force;
}
.post-footer {
	@include BoxShadow(1);
}

.widget {
	@extend .roboto;
}

// Popular posts
.popular-posts .item-snippet {
	font-size: 0.8em;
}
.PopularPosts img {
	@extend .z-depth-1;
	padding: 0 !important;
	margin-right: .4em !important;
}

