h4 {
	color: #0A00A0;
}

a {
  	@include transition(.2s ease-out);
}

#navbar {
	display: $navbar-display;
}
.header-inner .Header .titlewrapper {
	padding:0px;
	margin-bottom:-20px;
}

.header-inner .Header .descriptionwrapper {
	margin:0px;
	padding:0px;
}

.header-outer {
	background: $primary-color !important;
	position: relative;
	z-index: 2;
	@extend .z-depth-2;
}

.Header .description {
	color:$title-description-color !important;
	@extend .roboto;
}

.Header h1, h1 a {
	color:$title-color !important;
	&:hover {
		color:$title-color !important;
	}
}

.blog-posts {
	@extend .roboto;
}

.date-header {
  	@extend .z-depth-1;
 	padding: 5px;
}

.PageList {
  	@extend .z-depth-2;
 	padding: 5px;
	background:$secondary-color; 
}
.PageList a,h2 {
	color:#ffffff;
	text-decoration: none;
	width:100%;
	display:inline-block;
}
.PageList h2{
	text-align:center;
}
.PageList ul {
	list-style-type: none;
	padding:0px;
}
.PageList li{
	padding:5px;
  	@include transition(.2s ease-out);
	cursor: pointer;
	&:hover {
		background: lighten($secondary-color, 5%);
  	}
}
.PageList .selected {
	background: lighten($secondary-color, 8%);
}

.PopularPosts ul {
	@extend .simple-widget;
}

.PopularPosts ul li{
	padding: 5px 10px 5px 0px;
  	border-bottom: 1px solid #dddddd;
}
.Stats {
	text-align: center;
	background: $secondary-color;
  	@include transition(.2s ease-out);
	padding: 10px;
  	@extend .z-depth-1;
  	&:hover {
    		background-color: lighten($secondary-color, 5%);
  		@extend .z-depth-1-half;
  	}
}
input.gsc-search-button {
	@extend .btn;
}

.BlogArchive {
	@extend .simple-widget;
}

.Profile {
	@extend .simple-widget;
}
.Text {
	@extend .simple-primary-widget;
}
.Label {
	@extend .simple-primary-widget;
}
.CustomSearch {
	@extend .simple-widget;
}

//search box
.gsc-resultsbox-visible {
	@extend .simple-widget;
}

.gsc-results {
	border: 0 !important;
	background-color: transparent !important; 
	@extend .roboto;
}
.gsc-tabHeader{
	@extend .btn;
}

.gsc-cursor-current-page {
	color: $primary-text-color !important;
}

.post-title {
	@extend .roboto-force;
}
.post-footer {
	@extend .z-depth-1;
}

.widget {
	@extend .roboto;
}

.popular-posts .item-snippet {
	font-size: 0.8em;
}

