@-webkit-keyframes ripple {
  0% {
    background-size: 1% 1%;
    opacity: 0.5;
  }
  70% {
    background-size: 1000% 1000%;
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    background-size: 1000% 1000%;
  }
}

@keyframes ripple {
  0% {
    background-size: 1% 1%;
    opacity: 0.5;
  }
  70% {
    background-size: 1000% 1000%;
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    background-size: 1000% 1000%;
  }
}
.btn {
	border: none !important;
  	border-radius: 2px !important;
  	display: inline-block !important;
  	height: $button-height !important;
  	line-height: $button-line-height !important;
  	outline: 0 !important;
  	padding: 0 2rem !important;
  	vertical-align: middle !important;
  	// Gets rid of tap active state
  	-webkit-tap-highlight-color: transparent !important;
  	text-decoration:none !important;
  	color: $button-color-raised !important;
  	background-color: $button-color !important;
  	text-align: center !important;
  	letter-spacing: .5px !important;
  	@extend .z-depth-1;
  	@include transition(.2s ease-out);
  	cursor: pointer !important;
	width: auto !important;

	position: relative !important;
    	overflow: hidden;
  	&:hover {
    		background-color: lighten($button-color, 5%) !important;
		text-decoration: none !important;
    		//background-color: lighten($button-color, 5%) !important;
  		@extend .z-depth-1-half;
  	}

	// find a way to keep the animation alive
	&:hover:after {
		position: absolute;
  		content: " ";
  		height: 100%;
  		width: 100%;
  		top: 0;
  		left: 0;
  		pointer-events: none;
  		background-image: radial-gradient(circle at center, #FFF 0%, #FFF 10%, transparent 10.1%, transparent 100%);
  		background-position: center center;
  		background-repeat: no-repeat;
  		background-color: transparent;
  		-webkit-animation: ripple 0.6s 0s normal forwards running ease-in;
  		animation: ripple 0.6s 0s normal forwards running ease-in;

	}
}


.btn-small {
	font-size: 14px;
	padding: 8px 16px 8px 16px;
}

input[type=text] {
  // General Styles
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid $input-border-color !important;
  border-radius: 0 !important;
  outline: none !important;
  height: 3em !important;
  width: 100% !important;

  font-size: 1em !important;
  margin: 0 0 15px 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  @include box-sizing(content-box);
  transition: all .3s;

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $input-focus-color !important;
    box-shadow: 0 1px 0 0 $input-focus-color !important;
  }
}

input[type=submit] {
	@extend .btn;
}

.simple-widget {
	@extend .z-depth-1;
	padding: 5px 10px 5px 10px !important;
  	@include transition(.2s ease-out);
	&:hover {
  		@extend .z-depth-1-half;
	}
	& h2 {
		text-align: center;
	}
}

.simple-primary-widget {
	@extend .z-depth-1;
	padding: 5px 10px 5px 10px !important;
	background: $secondary-color !important;
	color: $primary-text-color !important;
  	@include transition(.2s ease-out);
	&:hover {
    		background-color: lighten($secondary-color, 5%) !important;
  		@extend .z-depth-1-half;
	}
	& a {
		color: $primary-text-color !important;
		text-decoration: none;
		&:hover {
			color: darken($primary-text-color, 20%) !important;
		}
		&:visited {
			color: lighten($primary-text-color, 30%) !important;
		}
	}
	& h2 {
		color: $primary-text-color !important;
		text-align: center;
	}
}

.simple-primary-widget-no-hover {
	@extend .simple-primary-widget;
	&:hover {
    		background-color: $secondary-color !important;
	}
}

.roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.roboto-force {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300 !important;
}
